.formControl.error input,
.formControl.error textarea {
	border: 3px green solid; 
}

.formControl.error span {
	color: green; 
}

.formSummaryError {
	border: 1px solid greenyellow;
	padding: 5px;
	color: greenyellow;
}